<input type="radio" name="{{ type }}" value="" id="{{ type }}_all"
        {% if value == 0 or not value %}
            checked="true"
        {% endif %}
        />
<label for="{{ type }}_all">All</label>
<input type="radio" name="{{ type }}" value="7" id="{{ type }}_week"
        {% if value == 7 %}
            checked="true"
        {% endif %}
        />
<label for="{{ type }}_week">Last Week</label>
<input type="radio" name="{{ type }}" value="30" id="{{ type }}_month"
        {% if value == 30 %}
            checked="true"
        {% endif %}
        />
<label for="{{ type }}_month">Last Month</label>