<ul>
{% for pull in pulls %}
    <li>
        <a class="pull-request" href="{{ pull.data.html_url }}">#{{ pull.data.number }} {{ pull.data.title }}</a>
        {# TODO ajaxify? #}
        <div style="display:none">
            <h2><a href="{{ pull.data.html_url }}">#{{ pull.data.number }} {{ pull.data.title }}</a></h2>
            <div class="meta">
                Created by {{ pull.data.user_login }} at {{ pull.data.created_at|date('d.m.Y - h:m') }}, last updated at {{ pull.data.updated_at|date('d.m.Y - h:m') }}
            </div>
            <div class="body">
                {{ pull.data.body }}
            </div>
        </div>
    </li>
{% endfor %}
</ul>