<div class="section-repository">
    <h2>{{ repo.data.name }}</h2>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#{{ repo.data.owner_login }}_-_{{ repo.data.name }}-pulls" data-toggle="tab">
                Pulls ({{ pulls|length }}/{{ repo.data.open_pull_count }})
            </a>
        </li>
        <li>
            <a href="#{{ repo.data.owner_login }}_-_{{ repo.data.name }}-issues" data-toggle="tab">
                Issues (TODO)
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="{{ repo.data.owner_login }}_-_{{ repo.data.name }}-pulls" class="tab-pane active">
            {% include "DbuDashboardBundle:Github:pulls.html.twig" with {"pulls": pulls} %}
        </div>
        <div id="{{ repo.data.owner_login }}_-_{{ repo.data.name }}-issues" class="tab-pane">
            Not yet
        </div>
    </div>
</div>
