<div class="section-repository">
    <h2>{{ repo.data.name }}</h2>
    <span>{{ repo.last_tag.name }}</span>

    {% include "DbuDashboardBundle:Github:statusBadge.html.twig" with {"repo_name": repo.data.full_name} %}

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#{{ repo.data.owner_login }}_-_{{ repo.data.name }}-all" data-toggle="tab">
                All ({{ pulls|length + issues|length }}/{{ repo.data.open_pull_count + repo.data.open_issues_only }})
            </a>
        </li>
        <li>
            <a href="#{{ repo.data.owner_login }}_-_{{ repo.data.name }}-pulls" data-toggle="tab">
                Pulls ({{ pulls|length }}/{{ repo.data.open_pull_count }})
            </a>
        </li>
        <li>
            <a href="#{{ repo.data.owner_login }}_-_{{ repo.data.name }}-issues" data-toggle="tab">
                Issues ({{ issues|length }}/{{ repo.data.open_issues_only }})
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="{{ repo.data.owner_login }}_-_{{ repo.data.name }}-all" class="tab-pane active">
            <div class="pulls">
                {% include "DbuDashboardBundle:Github:issues.html.twig" with {"issues": pulls} %}
            </div>
            <div class="issues">
                {% include "DbuDashboardBundle:Github:issues.html.twig" with {"issues": issues} %}
            </div>
        </div>
        <div id="{{ repo.data.owner_login }}_-_{{ repo.data.name }}-pulls" class="tab-pane">
            <div class="pulls">
               {% include "DbuDashboardBundle:Github:issues.html.twig" with {"issues": pulls} %}
            </div>
        </div>
        <div id="{{ repo.data.owner_login }}_-_{{ repo.data.name }}-issues" class="tab-pane">
            <div class="issues">
               {% include "DbuDashboardBundle:Github:issues.html.twig" with {"issues": issues} %}
            </div>
        </div>
    </div>
</div>
