{% if source.type == 'github' %}
    {% spaceless %}
    <a href="{{ source.link|replace({'#repo_name#': repo.full_name }) }}" target="_blank" title="{{ source.caption }}">
        <img src="{{ source.img|replace({'#repo_name#': repo.full_name }) }}" alt="{{ source.caption }}">
    </a>
    {% endspaceless %}
{% elseif source.type == 'composer' %}
    {% if repo.composer_name %}
        {% spaceless %}
            <a href="{{ source.link|replace({'#composer_name#': repo.composer_name })|replace({'#repo_name#': repo.full_name }) }}" target="_blank" title="{{ source.caption }}">
                <img src="{{ source.img|replace({'#composer_name#': repo.composer_name })|replace({'#repo_name#': repo.full_name }) }}" alt="{{ source.caption }}">
            </a>
        {% endspaceless %}
    {% endif %}
{% else %}
    Invalid badge type {{ source.type }}
{% endif %}
